snippet h2
	<h2 id="${1:heading}">${2:$1}</h2>

snippet h3
	<h3 id="${1:heading}">${2:$1}</h3>

snippet h4
	<h4 id="${1:heading}">${2:$1}</h4>

snippet h5
	<h5 id="${1:heading}">${2:$1}</h5>

snippet h6
	<h6 id="${1:heading}">${2:$1}</h6>
